.flex {
  display: flex;
}

.none {
  display: none;
}

.j-center {
  justify-content: center;
}

.a-center {
  align-items: center;
}

.j-between {
  justify-content: space-between;
}
.j-center {
  justify-content: space-center;
}

.j-around {
  justify-content: space-around;
}
